table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #7a7a7a;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }

  body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(100, 100, 100);
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px 0;
}
#overBudget {
    color: red;
    font-weight: bold;
}

#button{
color: gray
width: 100px


}